<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="post">
        <label for="title">Campground Title</label>
        <input type="text" id="title" name="title" value="<%=campground.title%>">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%=campground.price%>">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="<%=campground.description%>">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" value="<%=campground.location%>">
        <button>Submit</button>
    </form>
    <br>
    <a href="/campgrounds/<%=campground.id%>">Cancel</a>
</body>
</html>